
/* ローディング */
.loading-content {
  position: fixed;
  z-index: 3000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

/* 読み込み完了後に付与するスタイル */
.loading-content.loaded {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}