#login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 90%;
  text-align: center;
  min-height: 90%;
}

h2 {
  font-size: xxx-large;
  margin-bottom: 20px;
}

#login_form {
  padding: 5px;
}

input#password,
input#user_name,
input#certification_pass {
  width: 300px;
  height: 30px;
  font-size: 20px;
}

/* ボタンのスタイル */
div#buttons {
  margin-top: 10px;
}

button#login-button,
button#certification_button {
  width: 300px;
  height: 46px;
  background: #b9f9f9;
  border-color: #aff3f3;
  margin-bottom: 13px;
  text-align: center;
  font-size: 15px;
  padding: 0px;
}

#certification {
  display: none;
}

button#certification_button {
  margin-top: 10px;
}

button#resubmit {
  width: 135px;
  height: 32px;
  margin-top: 10px;
  text-align: center;
  padding: 0px;
}

@media (hover: hover) and (pointer: fine) {
  button#login-button:hover {
    background: #c8f9f9;
  }
}